
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
    transition: opacity .5s;
}

.container {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
}

.mapContainer {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    width: 100%;
    height: 100%;
}

.mapContainer .map {
    width: 1000px;
    position: relative;
    cursor: grab;
    z-index: -1;
    /* transition both height and width */
}

.controlsContainer {
    display: flex;
    width: 100%;
    height: 2rem;
    position: fixed;
    justify-content: center;
}

.controls {
    display: flex;
    width: 50%;
    height: 2rem;
    position: fixed;
    bottom: 1rem;
    color: white;
    z-index: 1;
    justify-content: space-evenly;
    padding: 0 1rem;
    background-color: rgba(0,0,0,.4);
    border-radius: 1rem;
}

.control {
    font-weight: bold;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control img {
    width: 1rem;
    height: 1rem;
}

.credits {
    opacity: .6;
    height: 2rem;
    width: 12rem;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: .5rem;
    color: white;
    font-size: .8rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

}

@keyframes pulse {
    0% {
        font-size: 1rem;
    }
    50% {
        font-size: 1.1rem;
    }
    100% {
        font-size: 1rem;
    }
}

.credits .heart {
    width: 1.2rem;
    color: red;
    text-align: center;
    animation: pulse 1s infinite;
}

.credits a {
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
}